@{
    ViewData["Title"] = "Chess";
}

@using Bg.Chess.Common.Enums

@model HistoryModel

<h2>
    Ваши партии
</h2>

@if (Model?.Games != null)
{
    foreach (var game in Model.Games)
    {
<div>
    <a href="/History/@game.Id">Ссылка на игру</a>
    <label>@game.Id</label>
    @if (game.WinSide != null)
    {
        if (game.WhitePlayer.Id == Model.MyPlayerId)
        {
            if (game.WinSide == GameSide.White)
            {
                <label>Победа</label>
            }
            else
            {
                <label>Поражение</label>
            }
        }
        else
        {
            if (game.WinSide == GameSide.Black)
            {
                <label>Победа</label>
            }
            else
            {
                <label>Поражение</label>
            }
        }
    }
    else
    {
        <label>Ничья</label>
    }
    @if (game.FinishReason == FinishReason.Mate)
    {
        <label>Мат</label>
    }
    else if (game.FinishReason == FinishReason.TimeOver)
    {

        <label>Время вышло</label>
    }
    else if (game.FinishReason == FinishReason.Surrender)
    {

        <label>Сдался</label>
    }
</div>
    }
}
