@{
    ViewData["Title"] = "Chess";
}

@using Bg.Chess.Common.Enums

@model HistoryGameModel

<h2>
    Игра @Model.Id

    @Model.WhitePlayer.Name VS @Model.BlackPlayer.Name
</h2>

<div id="field2" class="game-field">
     
</div>
<div style="display: inline-block;">
    @foreach(var move in Model.Moves)
    {
        var info = move.From.X + "/" + move.From.Y + " -> " + move.To.X + "/" + move.To.Y;
        <div>
            @info
        </div>
    }
</div>

<script>
    let notation = '@Model.Positions';

    window.onload = function () {

        let notationParts = notation.split(' ');
        let pieceLocation = notationParts[0];
        let pieceLocationLines = pieceLocation.split('/');
        let cellColorIndex = 0;
        var target = document.querySelector("#field2");
        for (let i = 0; i < 8; i++) {
            let line = pieceLocationLines[i];
            var divLine = document.createElement('div');
            divLine.classList.add('line');
            target.appendChild(divLine);
            var posX = 0;
            for (let posIndex = 0; posIndex < line.length; posIndex++) {
                var posY = 7 - i;
                let pos = line[posIndex];
                var emptyFields = pos * 1;
                if (Number.isInteger(emptyFields)) {
                    for (let cellsCount = emptyFields; cellsCount > 0; cellsCount--) {
                        // todo обобщить с дублированием снизу
                        var div = document.createElement('div');
                        div.classList.add('column');
                        if (cellColorIndex % 2 === 0) {
                            div.classList.add('position-white');
                        } else {
                            div.classList.add('position-black');
                        }
                        div.setAttribute('data-position-x', posX);
                        div.setAttribute('data-position-y', posY);

                        divLine.appendChild(div);
                        cellColorIndex++;
                        posX++;
                    }

                } else {
                    var div = document.createElement('div');
                    divLine.appendChild(div);
                    div.classList.add('column');
                    if (cellColorIndex % 2 === 0) {
                        div.classList.add('position-white');
                    } else {
                        div.classList.add('position-black');
                    }
                    div.setAttribute('data-position-x', posX);
                    div.setAttribute('data-position-y', posY);

                    divLine.appendChild(div);
                    cellColorIndex++;
                    let piece = GetPieceByNotation(pos);
                    var img = document.createElement('img');
                    var imgSrcName = piece.Type + "-" + piece.Side + '.png';
                    img.src = '/Content/Images/Piece/' + imgSrcName;
                    div.appendChild(img);
                    posX++;
                }
            }

            cellColorIndex++;
        }
    }
</script>