@{
    ViewData["Title"] = "Chess";
}

<div id="searchBlock">
    <button class="btn btn-success hide-is-search" onclick="startSearch()">Найти игру.</button>
    <div class="show-is-search">
        <button class="btn btn-warning" onclick="stopSearch()">Остановить поиск.</button>
        <label>
            Идёт поиск игры
            <span id="searchSpan"></span>
            <span id="searchSpan2"></span>
        </label>
        @*<label id="searchTime"></label>*@
    </div>
</div>
<div id="field">

</div>